.Global_Page {
  display: table;
  width: 100%;
  height: 100%;
}



h1.head_h1 {
  font-family: fantasy;
  font-variant: inherit;
  text-align: center;
  border-radius: 15px;
  border: 5px black;
  background: #f0f0f0;
  padding: 15px;
  margin-bottom: 30px;
}


h2#admin_board {
  width: 250px;
  text-align: center;
  font-family: comic sans ms;
  border-radius: 15px;
  background-color: green;
}



p {
  font-family: comic sans ms;
  color: black;
  font-weight: 700;
  font-variant : small-caps;
  font-size : 16px;
  padding: 5px;

}


p.url-name {
  color: red;
  font-variant: small-caps;
  font-size: 15px;
}

p.info {
  font-variant: normal;
  font-size: 15px;
  padding: 0px;
}

label.info {
  font-family: comic sans ms;
  color: black;
  font-weight: 700;
  font-variant : small-caps;
  font-size : 16px;
  margin: 0px;
  padding: 0px;
}



.left {
  display: table-cell;
  width: 350px;
}


.right {
  display: table-cell;
  width: 320px;
}


.middle {
  display: table-cell;
}


.middle_panel {
  width: 320px;
  margin: 0 auto;
}


button.main_button {
  background-color: #8A2BE2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}


button.main_button:hover {
  background-color: #8B008B
}


input.info_submit, button.button_right {
  background-color: #8A2BE2;
  border: none;
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
}


input.info_submit:hover, button.button_right:hover {
  background-color: #8B008B
}


select {
   width: 300px;
   height: 300px;
   display: block;
   overflow: auto;
   padding-left: 10px;/* отступы от текста до рамки */
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   background: none; /* убираем фон */
   border: 4px solid black; /* рамка */
   border-radius: 3px;/* скругление полей формы */
   -webkit-appearance: none;/* Chrome */
   -moz-appearance: none;/* Firefox */
   font-size: 15px;
}


option {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}
